.brandsContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background:linear-gradient(-60deg,rgb(0, 0, 0) 0%,rgb(0, 0, 0) 50%,rgb(255, 255, 255) 50%,rgb(255, 255, 255) 100%);

}

.brand1, .brand2 {
  max-width: 90%;
  overflow: hidden;
}

.brand1 {
  background-color: transparent;
  display: flex;
  align-items: start;
  justify-content: center;
}

.brand1 img, .brand2 img {
  margin-top: 150px;
  width: 80%;
  height: auto;
  display: block;
}

.brand2 {
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: transparent;
  margin-bottom: 150px;
}